<?xml version="1.0" encoding="utf-8" ?>
<definitions>
    <define var="total_news_main_page" value="3" />
    <define var="total_news_list_page" value="10" />
    <define var="total_comments_show_page" value="10" />
    <define var="total_news_admin_page" value="10" />
    <define var="user_pseudo_max_character" value="20" />
	<define var="user_pseudo_min_character" value="4" />
    <define var="user_email_max_character" value="70" />
	<define var="user_email_min_character" value="6" />
    <define var="user_password_max_character" value="40" />
	<define var="user_password_min_character" value="8" />
    <define var="comment_content_max_character" value="500" />
</definitions>