<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>404 Not Found</title>

        <!-- Bootstrap core CSS -->
        <link href="../../Web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../../Web/pictures/ico_blue.ico" />

        <!-- Custom styles for this template -->
        <link href="../../Web/css/style.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto');
            @import url("https://use.typekit.net/nng5edb.css");
        </style>
    
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../../Web/pictures/logo.png" alt="cat logo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inscription</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="wrap">
            <div id="vertical_alignement">
                <div id="main" class="container">
                    <section class="row">
                        <div class="col-md-12 text-center">
                            <img class="img-fluid rounded" src="../../Web/pictures/404.png" alt="picture cat"/>
                            <h1 class="pt-2">404 Page non trouvé</h1>
                            <p>On dirais qu'il y a eu un petit problème...</p>
                            <button class="btn btn-primary" href="#">Aller à l'accueil</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <footer id="footer" class="py-4">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Tc-blog 2018</p>
                <p class="m-0 text-center"><a id="admin_link" class="text-center" href="\admin">Accèdez à l'administration</a></p>
            </div>
        </footer>
    
        <!-- Bootstrap core JavaScript -->
        <script src="../../Web/jquery/jquery.min.js"></script>
        <script src="../../Web/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>