{% extends 'layout.twig' %}
{% block content %}
        <div id="wrap">
            <div id="main" class="container pt-4">
                <section class="row">
                    <nav class="col-lg-3 mx-4 my-5" id="admin_menu">
                        <div class="list-group my-3">
                        <a href="/admin" role="button" class="bg-dark list-group-item text-white text-center">Tableau de bord</a>
                        <a href="/admin/ajouter_une_news" role="button" class="bg-dark list-group-item text-white text-center">Ajouter une news</a>
                        <a href="/admin/gestion_des_utilisateurs" role="button" class="bg-dark list-group-item text-white text-center">Gestion des utilisateurs</a>
                        <a href="/admin/commentaires_a_valider" role="button" class="bg-dark list-group-item text-white text-center">Commentaires à valider</a>
                        </div>
                    </nav>
                     <div id ="admin_block" class="col-lg-8 my-5">
                        <h1 class="pt-3 pl-1 text-white"><img src="/pictures/ico_blue.png" id="ico_blue" alt="icon"/>Ajouter une news</h1>
                        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <fieldset>
                                {{ form | raw }}
                                <div class="col-md-4 mb-4">
                                    <button type="submit" name="publish" class="btn btn-primary">Publier</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </section>
            </div>
        </div>
            
{% endblock %}
