<nav id="admin_menu" class="col-lg-3 mx-4 my-5">
    <div class="list-group my-3">
        <a href="/admin" role="button" class="bg-dark list-group-item text-white text-center">Tableau de bord</a>
        <a href="/admin/ajouter_une_news" role="button" class="bg-dark list-group-item text-white text-center">Ajouter une news</a>
        <a href="/admin/gestion_des_utilisateurs" role="button" class="bg-dark list-group-item text-white text-center">Gestion des utilisateurs</a>
        <a href="/admin/commentaires_a_valider" role="button" class="bg-dark list-group-item text-white text-center">Commentaires à valider</a>
    </div>
</nav>