{% extends 'layout.twig' %}

{% block content %}

    <div id="wrap">

    {% if user.hasFlash %}
                
        <div class="alert alert-info alert-dismissible text-center mt-4">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span><img class="mb-1 mr-1"src="/pictures/infos.png"/>{{ user.getFlash }}</span>
        </div>

    {% endif %}
    
        <div id="vertical_alignement">
            <section id="main" class="container">
                <div class="row">
                    <div id="sign_block" class="col-lg-5 p-4">
                        <form class="form-horizontal" method="post" action="">
                            <fieldset>
                                <h2 class="text-white"><img id="ico_blue" src="/pictures/ico_blue.png" alt="icon"/>Mot de passe oublié</h2>
                                {{ form | raw }}
                                <div class="form-group d-inline-flex align-items-end pl-3">
                                    <button name="forgot" type="submit" class="btn btn-primary">Envoyer</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
        
{% endblock %}