<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Membres à valider</title>

        <!-- Bootstrap core CSS -->
        <link href="../../Web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../../Web/pictures/ico_blue.ico" />

        <!-- Custom styles for this template -->
        <link href="../../Web/css/style.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto');
        </style>
    
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../../Web/pictures/logo.png"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inscription</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="wrap">
            <div id="main" class="container">
                <section class="row">
                    <nav class="col-lg-3 mx-4 my-5" id="admin_menu">
                        <div class="list-group my-3">
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Tableau de bord</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Ajouter une news</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Membres à valider</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Commentaires à valider</a>
                        </div>
                    </nav>
                    <div class="col-lg-8 col-sm-12 my-5" id="admin_block">
                        <h1 class="pt-3 pl-1 text-white"><img id="ico_blue" src="../../Web/pictures/ico_blue.png">Membres à valider</h1>
                        <p class="text-center text-white">Il y a actuellement 10 membres à valider </p>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover mt-3 bg-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Pseudo</th>
                                        <th scope="col">Email</th>
                                        <th class="text-center" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-white"><strong>Thibault</strong></td>
                                        <td class="text-white"><strong>adress@mail.com</strong></td>
                                        <td class="text-center"><a href="#"><img style="margin-right:1px;" src="../../Web/pictures/valid.png"/></a><a href="#"><img style="margin-left:1px;" src="../../Web/pictures/delete.png"/></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item">
                                <a class="page-link" href="#">&larr; Précèdent</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Suivant &rarr;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class="py-4">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Tc-blog 2018</p>
                <p class="m-0 text-center"><a id="admin_link" class="text-center" href="\admin">Accèdez à l'administration</a></p>
            </div>
        </footer>
                                            
        <!-- Bootstrap core JavaScript -->
        <script src="../../Web/jquery/jquery.min.js"></script>
        <script src="../../Web/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
                    