<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>News 1</title>

        <!-- Bootstrap core CSS -->
        <link href="../../Web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../../Web/pictures/ico_blue.ico" />

        <!-- Custom styles for this template -->
        <link href="../../Web/css/style.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto');
            @import url("https://use.typekit.net/nng5edb.css");
        </style>
    
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../../Web/pictures/logo.png" alt="cat logo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inscription</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="wrap">
            <div id="main" class="container">
                <section class="row">
                    <nav class="col-lg-3 mx-4 my-5" id="admin_menu">
                        <div class="list-group my-3">
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Tableau de bord</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Ajouter une news</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Membres à valider</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Commentaires à valider</a>
                        </div>
                    </nav>
                    <article class="col-lg-8 col-sm-12 my-5" id="admin_block">
                        <h1 class="pt-3 pl-1 text-white"><img src="../../Web/pictures/ico_blue.png" id="ico_blue" alt="icon"/>News 1</h1>
                        <p id="date_publish" class="pl-1">Publié le <span class="font-italic">20/08/2018 à 16h40</span> par <span class="font-weight-bold">Thibault</span></p>
                        <hr/>
                        <img class="img-fluid rounded" src="../../Web/pictures/news.jpg" alt="news picture"/>
                        <hr/>
                        <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                        <hr/>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecat Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>
                        <hr/>
                        <div class="text-center my-5">
                            <button type="button" class="btn btn-warning mr-2 text-white"><img class="mr-1 mb-1" src="../../Web/pictures/update.png" alt="update icon"/>Modifier</button>
                            <button type="button" class="btn btn-danger ml-2 text-white"><img class="mr-1" src="../../Web/pictures/delete.png" alt="delete icon"/>Supprimer</button>
                        </div>
                    </article>
                </section>
            </div>
        </div>
        
        <footer id="footer" class="py-4">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Tc-blog 2018</p>
                <p class="m-0 text-center"><a id="admin_link" class="text-center" href="\admin">Accèdez à l'administration</a></p>
            </div>
        </footer>
                        
        <!-- Bootstrap core JavaScript -->
        <script src="../../Web/jquery/jquery.min.js"></script>
        <script src="../../Web/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>