<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>News</title>

        <!-- Bootstrap core CSS -->
        <link href="../../Web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../../Web/pictures/ico_blue.ico" />

        <!-- Custom styles for this template -->
        <link href="../../Web/css/style.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto');
        </style>
    
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../../Web/pictures/logo.png" alt="cat logo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inscription</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="wrap">
            <div id="main" class="container mb-5">
                <section class="row">
                    <div id="content_block" class="col-md-8 my-5 px-3">
                        <h1 class="mt-4 mb-3 text-white"><img id="ico_blue" src="../../Web/pictures/ico_blue.png" alt="icon"/>La première news !</h1>
                            <p id="date_publish_news" ><em>Publié le 12/07/2018 à 16h40</em> par <strong>Thibault</strong></p>
                        <hr>
                        <img class="img-fluid rounded" src="../../Web/pictures/news.jpg" alt="news picture"/>
                        <hr>
                            <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                        <hr>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecat Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>
                        <hr>
                        <!-- Comment Form -->
                        <div id="comment_form"class="card my-4">
                            <h2 class="card-header">Laissez un commentaire</h2>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                </form>
                            </div>
                        </div>
                        <!-- Single Comment -->
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="../../Web/pictures/user.png" alt="user picture"/>
                            <div class="media-body col-md-12">
                                <span id="author_comment">User1</span><small id="comment_add_at" class="ml-2">Ajouté le 15/08/2018 à 18h40</small>
                                <p class="mt-2 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer</p>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="../../Web/pictures/user.png" alt="user picture"/>
                            <div class="media-body col-md-12">
                                <span id="author_comment">User2</span><small id="comment_add_at" class="ml-2">Ajouté le 15/08/2018 à 18h40</small>
                                <p class="mt-2 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer</p>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="../../Web/pictures/user.png" alt="user picture"/>
                            <div class="media-body col-md-12">
                                <span id="author_comment">User3</span><small id="comment_add_at" class="ml-2">Ajouté le 15/08/2018 à 18h40</small>
                                <p class="mt-2 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer</p>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="../../Web/pictures/user.png" alt="user picture"/>
                            <div class="media-body col-md-12">
                                <span id="author_comment">User4</span><small id="comment_add_at" class="ml-2">Ajouté le 15/08/2018 à 18h40</small>
                                <p class="mt-2 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer</p>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center mb-4">
                            <li class="page-item">
                                <a class="page-link" href="#">&larr; Précédent</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Suivant &rarr;</a>
                            </li>
                        </ul>  
                    </div>
                    <!-- Sidebar Column -->
                    <div class="col-md-4 mt-2">
                        <aside class="card my-4" id="aside">
                            <img id="profil_picture"class="img-center" src="../../Web/pictures/profil.jpg" alt="developer photo"/>
                            <div class="card-body">
                                <legend class="card-title text-center text-white">Thibault le développeur qu'il vous faut ! </legend>
                                <div class="d-flex justify-content-center">
                                    <a class="p-2" href="https://github.com/Thibok" target="_blank"><i id="github" class="fa fa-github"></i></a>
                                    <a class="p-2" href="https://twitter.com/TCavailles" target="_blank"><i id="twitter" class="fa fa-twitter"></i></a>
                                    <a class="p-2" href="https://www.linkedin.com/in/thibault-cavailles-b40061146/" target="_blank"><i class="fa fa-linkedin text-white"></i></a>
                                    <a class="p-2" href="../../Web/C.V.pdf" target="_blank"><i id="cv"class="fa fa-user"></i></a>
                                </div>
                            </div>
                        </aside>
                        <!-- Contact Form -->
                        <div class="card mt-4 mb-5 p-3" id="contact">
                            <form method="post" action="">
                                <h2 class="card-title">Contact</h2>
                                <div class="form-group">
                                    <label class="control-label text-white"for="name">Nom :</label>
                                    <input type="text" name="name" id="name" class="form-control"/>
                                </div>
                                <div class="form-group"> 
                                    <label class="control-label text-white" for="first_name">Prénom :</label>
                                    <input class="form-control" type="text" name="first_name" id="first_name"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-white" for="email">Email :</label>
                                    <input type="email" name="email" id="email" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-white" for="message">Message :</label>
                                    <textarea id="message" class="form-control" rows="4"></textarea>
                                    <p class="help-block text-white">Vous pouvez agrandir la fenêtre</p>
                                </div>
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    
        <footer id="footer" class="py-4">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Tc-blog 2018</p>
                <p class="m-0 text-center"><a id="admin_link" class="text-center" href="\admin">Accèdez à l'administration</a></p>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="../../Web/jquery/jquery.min.js"></script>
        <script src="../../Web/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

