{% extends 'layout.twig' %}

{% block content %}

        <div id="wrap">
            <div id="vertical_alignement">
                <section id="main" class="container">
                    <div class="row">
                        <div id="sign_block" class="col-lg-5 p-4">
                            <form class="form-horizontal" method="post" action="">
                                <fieldset>
                                    <h2 class="text-white"><img id="ico_blue" src="/pictures/ico_blue.png" alt="icon"/>Connexion</h2>
                                    {{ form | raw }}
                                    <div class="form-group col-lg-10">
                                    <div style="transform:scale(0.77);-webkit-transform:scale(0.87);transform-origin:0 0;-webkit-transform-origin:0 0;" class="g-recaptcha" data-sitekey="6LfBW1QUAAAAADJ3x0jniegkHh9DN9KsCFLsAM-F"></div>
                                    </div>
                                    <div class="form-group d-inline-flex align-items-end pl-3">
                                        <button name="signin" type="submit" class="btn btn-primary">Se connecter</button>
                                        <a href="/inscription.html" role="button" class="ml-3 text-primary">Pas encore inscrit ?</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
{% endblock %}