<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Modifier une news</title>

        <!-- Bootstrap core CSS -->
        <link href="../../Web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../../Web/pictures/ico_blue.ico" />

        <!-- Custom styles for this template -->
        <link href="../../Web/css/style.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto');
        </style>
    
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../../Web/pictures/logo.png"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inscription</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="wrap">
            <div id="main" class="container">
                <div class="row">
                    <nav class="col-lg-3 mx-4 my-5" id="admin_menu">
                        <div class="list-group my-3">
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Tableau de bord</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Ajouter une news</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Membres à valider</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-center text-white">Commentaires à valider</a>
                        </div>
                    </nav>
                    <div class="col-lg-8 my-5" id="admin_block">
                        <h1 class="pt-3 pl-1 text-white"><img src="../../Web/pictures/ico_blue.png" id="ico_blue">News 1</h1>
                        <p id="date_publish_news" class="pl-1">Publié le <em>20/08/2018 à 16h40</em> par <strong>Thibault</strong></p>
                        <hr/>
                        <img class="img-fluid rounded" src="../../Web/pictures/news.jpg"/>
                        <hr/>
                        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group col-md-12">
                                    <label class="control-label text-white" for="title">Titre</label>  
                                    <input id="title" name="title" type="text" placeholder="Titre" class="form-control" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label text-white" for="author">Auteur</label>  
                                    <input id="author" name="author" type="text" placeholder="Auteur" class="form-control" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label text-white" for="chapo">Chapo</label>
                                    <textarea class="form-control" id="chapo" name="chapo" required></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label text-white" for="content">Contenu</label>                 
                                    <textarea class="form-control" id="content" name="content" required></textarea>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label text-white" for="img_news">Image</label>
                                    <input id="img_news" name="img_news" class="input-file" type="file" required>
                                    <small class="text-white">Dimension conseillé: 750x300px</small>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <button type="submit" name="update" class="btn btn-primary">Modifier</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class="py-4">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Tc-blog 2018</p>
                <p class="m-0 text-center"><a id="admin_link" class="text-center" href="\admin">Accèdez à l'administration</a></p>
            </div>
        </footer>
                                        
        <!-- Bootstrap core JavaScript -->
        <script src="../../Web/jquery/jquery.min.js"></script>
        <script src="../../Web/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>