<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Commentaire 1</title>

        <!-- Bootstrap core CSS -->
        <link href="../../Web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../../Web/pictures/ico_blue.ico" />

        <!-- Custom styles for this template -->
        <link href="../../Web/css/style.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto');
            @import url("https://use.typekit.net/nng5edb.css");
        </style>
    
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../../Web/pictures/logo.png" alt="cat logo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inscription</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="wrap">
            <div id="main" class="container pt-4">
                <div class="row">
                    <nav id="admin_menu"class="col-lg-3 mx-4 my-5">
                        <div class="list-group my-3">
                            <a href="#" role="button" class="bg-dark list-group-item text-white text-center">Tableau de bord</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-white text-center">Ajouter une news</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-white text-center">Membres à valider</a>
                            <a href="#" role="button" class="bg-dark list-group-item text-white text-center">Commentaires à valider</a>
                        </div>
                    </nav>
                    <div class="col-lg-8 my-5" id="admin_block">
                        <h1 class="pt-3 pl-1 text-white"><img id="ico_blue" src="../../Web/pictures/ico_blue.png" alt="icon"/>Commentaire 1</h1>
                        <p id="date_publish" class="pl-2">Commentaire posté le <span class="font-italic">20/08/2018 à 16h40</span> par <span class="font-weight-bold">Thibault</span></p>
                        <p class="p-2 text-white">Integer accumsan tristique rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse rutrum malesuada lectus, ac lacinia diam molestie vel. Sed lobortis augue sit amet faucibus commodo. Nullam bibendum pulvinar diam a tincidunt. Nunc et rutrum elit, vitae sagittis ante. Quisque vel lacus iaculis, porttitor nisl vel, gravida lacus. Vestibulum accumsan purus at ipsum luctus, ut gravida libero hendrerit. Curabitur quis consequat neque. Aliquam erat volutpat. Quisque at facilisis dui.</p>
                        <div class="text-center my-5">
                            <button type="button" class="btn btn-success mr-2"><img class="mr-1 mb-1"src="../../Web/pictures/valid.png" alt="valid icon"/>Valider</button>
                            <button type="button" class="btn btn-danger ml-2"><img class="mr-1" src="../../Web/pictures/delete.png" alt="delete icon"/>Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class="py-4">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Tc-blog 2018</p>
                <p class="m-0 text-center"><a id="admin_link" class="text-center" href="\admin">Accèdez à l'administration</a></p>
            </div>
        </footer>
                
        <!-- Bootstrap core JavaScript -->
        <script src="../../Web/jquery/jquery.min.js"></script>
        <script src="../../Web/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>